<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Responsive Admin Dashboard Template">
<meta name="keywords" content="admin,dashboard">
<meta name="author" content="stacks">
<!-- The above 6 meta tags *must* come first in the head;any other head content must come *after* these tags --><!-- Title -->
<title>小组数据分析</title>
<!-- Styles -->
<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,700,800&display=swap" rel="stylesheet">
<link href="/statics/assets_tech/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/statics/assets_tech/plugins/font-awesome/css/all.min.css" rel="stylesheet">
<link href="/statics/assets_tech/plugins/perfectscroll/perfect-scrollbar.css" rel="stylesheet">
<link href="/statics/assets_tech/plugins/apexcharts/apexcharts.css" rel="stylesheet">
<!-- Theme Styles -->
<link href="/statics/assets_tech/css/main.min.css" rel="stylesheet">
<link href="/statics/assets_tech/css/custom.css" rel="stylesheet">
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries --><!-- WARNING:Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>
<body class="email-page">
<div class='loader'>
  <div class='spinner-grow text-primary' role='status'> <span class='sr-only'>Loading...</span></div>
</div>
<div class="page-container">
  <div class="page-header">
    <nav class="navbar navbar-expand-lg d-flex justify-content-between">
      <div class="" id="navbarNav">
        <ul class="navbar-nav" id="leftNav">
          <li class="nav-item"><a class="nav-link" id="sidebar-toggle" href="#"><i data-feather="arrow-left"></i></a></li>
          <li class="nav-item"><a class="nav-link" href="javascript:void(0);return false;" onclick="window.history.back()">返回</a></li>
          <li class="nav-item"><a class="nav-link" href="/indextech/">主页</a></li>
           <li class="nav-item"><a class="nav-link" href="/userset/">设置</a></li>
          <li class="nav-item"><a class="nav-link" href="/index/">切换账号</a></li>
        </ul>
      </div>
      <div class="logo"><a class="navbar-brand" href="index.html"></a></div>
      <div class="" id="headerNav">
        <ul class="navbar-nav">
          <li class="nav-item dropdown"><a class="nav-link search-dropdown" href="#" id="searchDropDown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i data-feather="search"></i></a>
            <div class="dropdown-menu dropdown-menu-end dropdown-lg search-drop-menu" aria-labelledby="searchDropDown">
              <form>
                <input class="form-control" type="text" placeholder="Type something.." aria-label="Search">
              </form>
              <h6 class="dropdown-header">Recent Searches</h6>
              <a class="dropdown-item" href="#">charts</a><a class="dropdown-item" href="#">new orders</a><a class="dropdown-item" href="#">file manager</a><a class="dropdown-item" href="#">new users</a></div>
          </li>
          <li class="nav-item dropdown"><a class="nav-link notifications-dropdown" href="#" id="notificationsDropDown" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{notice_list.0.notice_count}}</a>
            <div class="dropdown-menu dropdown-menu-end notif-drop-menu" aria-labelledby="notificationsDropDown">
              <h6 class="dropdown-header">通知</h6>
              {% if notice_list.0.notice_count != 0 %}
                {% for item in notice_list%}
              <a href="#">
              <div class="header-notif">
                <div class="notif-image"><span class="notification-badge bg-info text-white"><i class="fas fa-bullhorn"></i></span></div>
                <div class="notif-text">
                  <p class="bold-notif-text">来自:{{item.send_role}}{{item.send_name}}</p>
                </div>
                <div class="notif-text">
                  <h4 class="bold-notif-text"><code>{{item.notice_title}}</code></h4>
                </div>
                <div class="notif-text">
                  <h4 class="bold-notif-text">{{item.notice_content}}</h4>
                  <small>{{item.notice_time}}</small></div>
              </div>
              </a>
                {% endfor %}
              {% endif %}
            </div>
          </li>
          <li class="nav-item dropdown"><a class="nav-link profile-dropdown" href="#" id="profileDropDown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><img src="/statics/assets_tech/images/avatars/profile-image.png" alt=""></a>
            <div class="dropdown-menu dropdown-menu-end profile-drop-menu" aria-labelledby="profileDropDown">
              <a class="dropdown-item" href="#"><i data-feather="user"></i>个人简介</a>
              <a class="dropdown-item" href="#"><i data-feather="inbox"></i>消息</a>
              <a class="dropdown-item" href="#"><i data-feather="edit"></i>活动<span class="badge rounded-pill bg-success">12</span></a>
              <a class="dropdown-item" href="#"><i data-feather="check-circle"></i>任务</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#"><i data-feather="settings"></i>设置</a><a class="dropdown-item" href="#"><i data-feather="unlock"></i>锁屏</a><a class="dropdown-item" href="#"><i data-feather="log-out"></i>登出</a></div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="page-sidebar">
    <ul class="list-unstyled accordion-menu">
      <li class="sidebar-title">Main </li>
      <li class="active-page"><a href="/detail_groupinfo/?group_id={{group_id}}"><i data-feather="home"></i>小组数据对比</a></li>
      <li class="sidebar-title">小组 </li>
      {% for item in group_list %}
           <li><a href="#"><i data-feather="users"></i>第{{item.group_id}}组<i class="fas fa-chevron-right dropdown-icon"></i></a>
        <ul class="">
          {% for stu in item.stu_list%}
          <li><a href="/detail_memberinfo/?num={{stu.num}}"><i class="far fa-circle"></i>{{stu.name}}</a></li>
           {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="page-content">
    <div class="main-wrapper">
      <div  class="row">
        <div style="margin-bottom:10px" class="col-sm-12 col-xl-6">
             <div class="card">
               <div style="wideth:600px;height:400px;">
                 {% if chat_data.chat_count == '0' %}
                 <img style="
                               width:auto;
                              height:auto;" src="/statics/assets_tech/images/card-bg.png" class="card-img-top" alt="...">
                 {% else %}
                 <img style=" max-width:100%;
                              max-height:100%;
                               width:auto;
                              height:auto;" src="/statics/wordyun/img.jpg" class="card-img-top" alt="...">
                 {% endif %}
               </div>

            <div class="card-body">
                       <div class="card-meet-header">
                        <div class="card-meet-day">
                          <h6>讨论数</h6>
                          <h3>{{chat_data.chat_count}}</h3>
                        </div>
                        <div class="card-meet-day">
                          <h6>发言数</h6>
                          <h3>{{chat_data.word_count}}</h3>
                        </div>
                        <div class="card-meet-day">
                          <h6>文件数</h6>
                          <h3>{{chat_data.file_count}}</h3>
                        </div>
                        <div class="card-meet-text">
                          <h6>成员发言讨论词云图</h6>
                        </div>
                      </div>
          </div>
        </div>
      </div>
        <div class="col-sm-12 col-md-4">
          <div class="card stat-widget">
            <div class="card-body">
              <h5 class="card-title">五大讨论词频</h5>
              {% for item in chat_data.data %}
              <div class="transactions-list">
                <div class="tr-item">
                  <div class="tr-company-name">
                    <div class="tr-icon tr-card-icon tr-card-bg-primary text-primary"><i data-feather="twitch"></i></div>
                    <div class="tr-text">
                      <h4>{{item.word}}</h4>
                    </div>
                  </div>
                  <div class="tr-rate">
                    <p><span class="text-success">{{item.weight}}</span></p>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div style="margin-bottom:10px" class="row">
         <div class="col-sm-12 col-md-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">小组成员学习时长可视化</h5>
              <div id="apex3"></div>
            </div>
          </div>
        </div>
          <div class="col-md-12 col-lg-6">
          <div class="card table-widget">
            <div class="card-body">
              <h5 class="card-title">小组成员评价排名</h5>
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                       <th scope="col">排名</th>
                      <th scope="col">姓名</th>
                      <th scope="col">自评</th>
                      <th scope="col">互评</th>
                      <th scope="col">角色</th>
                    </tr>
                  </thead>
                  <tbody>
                  {%for item in member_rank_list%}
                    <tr>
                      <th scope="row">{{item.rank}}</th>
                      <td>{{item.name}}</td>
                      <td>{{item.self_eva}}</td>
                      <td>{{item.inter_eva}}</td>
                      <td>
                        {%if item.role == '组长'%}
                        <span class="badge bg-danger">组长</span>
                        {% elif item.role == '报告员' %}
                         <span class="badge bg-success">报告员</span>
                        {% elif item.role == '组员' %}
                         <span class="badge bg-info">组员</span>
                        {% elif item.role == '记录员' %}
                         <span class="badge bg-primary">记录员</span>
                        {% elif item.role == '检察员' %}
                         <span class="badge bg-warning">检察员</span>
                        {% endif %}

                      </td>
                    </tr>
                   {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
       <div style="margin-bottom:10px" class="row">
        <div class="col-sm-12 col-md-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">小组评价详细信息</h5>
              <canvas id="chartjs3">Your browser does not support the canvas element.</canvas>
            </div>
          </div>
        </div>
          <div class="col-sm-12 col-md-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">小组成员评价权重占比图</h5>
              <canvas id="chartjs4">Your browser does not support the canvas element.</canvas>
            </div>
          </div>
        </div>
      </div>
       <div class="row">
         <div class="col-sm-12 col-md-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">小组学习平均学习时长比较</h5>
              <canvas id="chartjs2">Your browser does not support the canvas element.</canvas>
            </div>
          </div>
        </div>
         <div class="col-sm-12 col-md-6">
                <div class="card">
                  <div class="card-body">

                    <div id="apex4"></div>
                  </div>
                </div>
        </div>

      </div>
    </div>
  </div>
</div>
{{ group_data|json_script:"group_data" }}
{{ title_list|json_script:"title_list" }}
{{ member_weight|json_script:"member_weight" }}
{{ time_data|json_script:"time_data" }}
{{ task_finished|json_script:"task_finished" }}
{{ member_time_data|json_script:"member_time_data" }}
<!-- Javascripts --><script src="/statics/assets_tech/plugins/jquery/jquery-3.4.1.min.js"></script>
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="/statics/assets_tech/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/statics/bootstrap/bootstrapValidator.js"></script>
<script src="https://unpkg.com/feather-icons"></script>
<script src="/statics/assets_tech/plugins/perfectscroll/perfect-scrollbar.min.js"></script>
<script src="/statics/assets_tech/plugins/apexcharts/apexcharts.min.js"></script>
<script src="/statics/assets_tech/plugins/chartjs/chart.bundle.min.js"></script>
<script src="/statics/assets_tech/js/main.min.js"></script>
<!--<script src="/statics/assets_tech/js/pages/dashboard.js"></script>-->
<script src="/statics/techinit/eva_detail.js"></script>

</body>
</html>