<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
     {% load static %}
	<title>后台管理系统</title>
<!--    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>-->
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/statics/css/font.css">
	<link rel="stylesheet" href="/statics/css/xadmin.css">

    <script src="/statics/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/statics/js/xadmin.js"></script>

</head>
<body>
    <!-- 顶部开始 -->
    <div class="container">
        <div class="logo"><a href="./home06060606">Study-management v2.0</a></div>
        <div class="left_open">
            <i title="展开左侧栏" class="iconfont">&#xe699;</i>
        </div>
        <ul class="layui-nav left fast-add" lay-filter="">
          <li class="layui-nav-item">
            <a href="javascript:;">+新增</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
                <dd><a onclick="x_admin_show('用户','/newuser/',500,600)"><i class="iconfont">&#xe6b8;</i>用户</a></dd>
            </dl>
          </li>
        </ul>
        <ul class="layui-nav right" lay-filter="">
          <li class="layui-nav-item">
            <a href="javascript:;">{{ name }}</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
              <dd><a onclick="x_admin_show('个人信息','/user-info',400,200)">个人信息</a></dd>
              <dd><a href="/index/" >切换帐号</a></dd>
              <dd><a href="/index/">退出</a></dd>
            </dl>
          </li>
          <li class="layui-nav-item to-index"><a href="/index">前台首页</a></li>
        </ul>
        
    </div>
    <!-- 顶部结束 -->
    <!-- 中部开始 -->
     <!-- 左侧菜单开始 -->
    <div class="left-nav">
      <div id="side-nav">
        <ul id="nav">
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6b8;</i>
                    <cite>基础信息设置</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="/stu_list">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>选课学生信息</cite>
                            
                        </a>
                    </li >
                    <li>
                        <a _href="/systeminit/">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>系统初始文件管理</cite>
                            
                        </a>
                    </li>
					<li>
                        <a _href="/learn_manage/">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>学习主题管理</cite>
                            
                        </a>
                    </li>
					 <li>
                        <a _href="/userpower/">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>用户权限管理</cite>
                            
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe723;</i>
                    <cite>评价管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="/pjbz/">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>评价库</cite>
                        </a>
                    </li >
					 <li>
                        <a _href="/pjgl/">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>添加评价</cite>
                        </a>
                    </li >
					<li>
                        <a _href="/bms_eva/?eva=stu">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>学生个人评价</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="/bms_eva/?eva=group">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>小组评价</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="/bms_eva/?eva=groups">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>小组互评</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="/bms_eva/?eva=member">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>成员互评</cite>
                        </a>
                    </li >
					<li>
                        <a _href="/bms_eva/?eva=teacher">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>老师评价</cite>
                        </a>
                    </li >
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe726;</i>
                    <cite>小组管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="/groupinfo/">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>小组信息查询</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="/task_list/">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>小组任务查询</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="/doc_list/">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>小组上传文件管理</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="/feedback_list/">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>反馈消息管理</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="/notice_list/">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>消息通知管理</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="/talk_manage/">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>小组讨论记录管理</cite>
                        </a>
                    </li >
                </ul>
            </li>
<!--            <li>-->
<!--                <a href="javascript:;">-->
<!--                    <i class="iconfont">&#xe6ce;</i>-->
<!--                    <cite>数据分析</cite>-->
<!--                    <i class="iconfont nav_right">&#xe697;</i>-->
<!--                </a>-->
<!--                <ul class="sub-menu">-->
<!--                    <li>-->
<!--                        <a _href="/biao">-->
<!--                            <i class="iconfont">&#xe6a7;</i>-->
<!--                            <cite>小组进度展示</cite>-->
<!--                        </a>-->
<!--                    </li >-->
<!--                    <li>-->
<!--                        <a _href="/fk">-->
<!--                            <i class="iconfont">&#xe6a7;</i>-->
<!--                            <cite>小组记录展示</cite>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a _href="/rk">-->
<!--                            <i class="iconfont">&#xe6a7;</i>-->
<!--                            <cite>小组上传信息</cite>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a _href="/xs">-->
<!--                            <i class="iconfont">&#xe6a7;</i>-->
<!--                            <cite>小组成果汇总</cite>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </li>-->
        </ul>
      </div>
    </div>
    <!-- <div class="x-slide_left"></div> -->
    <!-- 左侧菜单结束 -->
    <!-- 右侧主体开始 -->
    <div class="page-content">
        <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
          <ul class="layui-tab-title">
            <li>我的桌面</li>
          </ul>
          <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <iframe src='/welcome/' frameborder="0" scrolling="yes" class="x-iframe"></iframe>
            </div>
          </div>
        </div>
    </div>
    <div class="page-content-bg"></div>
    <!-- 右侧主体结束 -->
    <!-- 中部结束 -->
    <!-- 底部开始 -->
    <div class="footer">
        <div class="copyright">Copyright ©2021 Study-management v2.0 All Rights Reserved</div>
    </div> 
</body>
</html>