<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Responsive Admin Dashboard Template">
<meta name="keywords" content="admin,dashboard">
<meta name="author" content="stacks">
<!-- The above 6 meta tags *must* come first in the head;any other head content must come *after* these tags --><!-- Title -->
<title>初始化界面</title>
<!-- Styles -->
<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,700,800&display=swap" rel="stylesheet">
<link href="/statics/assets_tech/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/statics/assets_tech/plugins/font-awesome/css/all.min.css" rel="stylesheet">
<link href="/statics/assets_tech/plugins/perfectscroll/perfect-scrollbar.css" rel="stylesheet">
<!-- Theme Styles -->
<link href="/statics/assets_tech/css/main.min.css" rel="stylesheet">
<link href="/statics/assets_tech/css/custom.css" rel="stylesheet">
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries --><!-- WARNING:Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>
<body>
<div class='loader'>
  <div class='spinner-grow text-primary' role='status'> <span class='sr-only'>Loading...</span></div>
</div>
<div class="page-container">
  <div class="page-header">
          <div class="card">
            <div class="card-body">
              <h2 class="display-4" ><b>{{name}},欢迎进入信息系统分析与设计教学辅助系统</b></h2>
              <p class="card-description" style="font-size:18px;">本系统将合作学习与网络信息技术结合起来，
                通过开发课程教学辅助系统，
                完成教学过程中对于合作学习成果的评价以及完成老师、同学与系统之间的交互。
                该系统涵盖了合作学习的各个流程环节，包括：
                <code><b>学习布置</b></code>、
                <code><b>分组策略</b></code>、
                <code><b>计划制定</b></code>、
                <code><b>进程管理</b></code>等环节，实现学习与进度的集成管理，推动合作学习这一教学形式的远程在线辅助教学服务。
                </p>
              <a href="/index" id="blockui-1" class="btn btn-primary btn-lg m-b-xs"><b>返回</b></a></div>
            </div>
          </div>
  </div>
  <div class="page-content" style="margin-left: 0px; margin-top: 250px;" >
    <div class="main-wrapper">
      <div class="row">
        <div class="col-lg">
          <div class="card" id="blockui-card-1">
            <div class="card-body">
              <h2 class="display-4" ><b>进入教师管理界面</b></h2>
              <p style="font-size:20px;"><code><b>已完成教学系统初始化，设置学习目标以及学习任务、导入小组信息，完成分组</b></code></p>
              <a href="/indextech" id="blockui-1" class="btn btn-primary btn-lg m-b-xs"><b>点击进入</b></a></div>
          </div>
        </div>
        <div class="col-lg">
          <div class="card">
            <div class="card-body">
              <h2 class="display-4" ><b>进入系统初始界面</b></h2>
              <p style="font-size:20px;"><code><b>尚未完成教学系统初始化，设置学习目标以及学习任务、导入小组信息，完成分组</b></code></p>
              <a href="/techinitinfo" id="blockui-1" class="btn btn-primary btn-lg m-b-xs"><b>点击进入</b></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Javascripts -->
<script src="/statics/assets_tech/plugins/jquery/jquery-3.4.1.min.js"></script>
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="/statics/assets_tech/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/feather-icons"></script>
<script src="/statics/assets_tech/plugins/perfectscroll/perfect-scrollbar.min.js"></script>
<script src="/statics/assets_tech/plugins/blockui/jquery.blockUI.js"></script>
<script src="/statics/assets_tech/js/main.min.js"></script>
<script src="/statics/assets_tech/js/pages/blockui.js"></script>
</body>
</html>